@import "tailwindcss";
@tailwind utilities;

:root {
  --primary: #337058;
  --secondary: rgba(120, 43, 192, 0.07);
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-tajawal), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@keyframes pulse {
  0%,
  100% {
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
}

.logo-loading {
  animation: pulse 1.5s infinite ease-in-out;
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-sans);
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary); /* Thumb color */
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
}

input[type="search"]::placeholder {
  padding-left: 10px;
}
